.online{
  color: #ea8e26;
  border-color: #ea8e26;
}
.camera_list {
  margin: 5px 0px;
  padding-left: 15px;
  border-left-width: 3px;
  border-left-style: solid;
}
.bottomBody{
  height:calc(100% -300px);
  width:800px;
  display: flex;
  justify-content: start;
  font-size:1rem;
}
.list{
  width:25%;
  border-right:1px solid #3cf;
  margin-left:20px;
}